---
import About from '../components/About.astro';
import Navigation from '../components/Navigation.astro';
import Presentation from '../components/Presentation.astro';
import Works from '../components/Works.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title='Portfolio'>
  <main
    class='p-0 max-h-full flex justify-start w-full flex-col lg:flex-row gap-10'
  >
    <Presentation />
    <section
      class='content-card animate-fade-down md:animate-fade-left animate-duration-500 animate-delay-200 flex m-auto lg:ml-auto lg:mr-0 flex-col mt-0 lg:w-[70%] w-11/12 h-full min-h-[1200px]'
    >
      <Navigation />
      <section id='content'>
        <About />
        <Works />
      </section>
    </section>
  </main>
</Layout>
