---
import Presentation from '../components/Presentation.astro';
import Layout from '../layouts/Layout.astro';

//icons
import { Icon } from 'astro-icon';
---

<Layout title='Portfolio'>
	<main
		class='p-0 max-h-full flex justify-start w-full flex-col lg:flex-row gap-10'
	>
		<Presentation />
		<div
			class='content-card flex m-auto lg:ml-auto lg:mr-0 flex-col mt-0 lg:w-[70%] w-11/12 h-full'
		>
			<div
				class='hidden lg:flex 2xl:w-7/8 ml-auto shadow-md rounded-xl mb-4 bg-white h-2/5'
			>
				<ul class='ml-auto pl-5 pr-5 pb-5 flex-row flex gap-4'>
					<li>
						<button
							class='rounded-md flex flex-col bg-gradient-to-r from-sky-400 to-blue-500 text-white p-4 text-center mt-4 w-24 hover:to-blue-800 hover:from-sky-500'
						>
							<Icon
								pack='radix-icons'
								name='person'
								class='w-6 m-auto'
							/>
							<p class='m-auto'>About</p>
						</button>
					</li>
					<li>
						<button
							class='rounded-md flex flex-col bg-gray-200 text-slate-600 p-4 w-24 text-center mt-4 hover:bg-gradient-to-r from-sky-400 to-blue-500 hover:text-white'
						>
							<Icon
								pack='ep'
								name='document'
								class='w-6 m-auto'
							/>
							<p class='m-auto'>Resume</p>
						</button>
					</li>
					<li>
						<button
							class='rounded-md flex flex-col bg-gray-200 text-slate-600 p-4 w-24 text-center mt-4 hover:bg-gradient-to-r from-sky-400 to-blue-500 hover:text-white'
						>
							<Icon
								pack='ic'
								name='round-work-outline'
								class='w-6 m-auto'
							/>
							<p class='m-auto'>Works</p>
						</button>
					</li>
					<li>
						<button
							class='rounded-md flex flex-col bg-gray-200 text-slate-600 p-4 w-24 text-center mt-4 hover:bg-gradient-to-r from-sky-400 to-blue-500 hover:text-white'
						>
							<Icon
								pack='fluent'
								name='mail-20-regular'
								class='w-6 m-auto'
							/>
							<p class='ml-auto mr-auto'>Contact</p>
						</button>
					</li>
				</ul>
			</div>
			<div
				class='content flex flex-col w-full shadow-md rounded-xl bg-white h-full mb-5'
			>
				<div class='p-10 pb-5'>
					<h3
						class='text-4xl font-semibold flex flex-col md:flex-row md:inline-flex'
					>
						About Me <hr
							class='h-1 w-40 mt-5 ml-2 rounded-lg bg-gradient-to-r from-sky-400 to-blue-500'
						/>
					</h3>
					<p class='mt-4 font-normal'>
						I'm Creative Director and UI/UX Designer from Sydney,
						Australia, working in web development and print media. I
						enjoy turning complex problems into simple, beautiful
						and intuitive designs.
					</p>
					<p class='mt-4'>
						My aim is to bring across your message and identity in
						the most creative way. I created web design for many
						famous brand companies.
					</p>
					<h3 class='text-4xl font-semibold inline-flex mt-10'>
						What I do
					</h3>
					<div class='what-i-do flex mt-10'>
						<div
							class='flex flex-row flex-wrap justify-between w-full'
						>
							<div
								class='box w-full lg:w-[49%] mb-4 flex bg-red-300 rounded-xl bg-opacity-30 p-2'
							>
								<div>
									<Icon
										pack='ph'
										name='code'
										class='w-12 ml-4 mr-6 text-red-500'
									/>
								</div>
								<div class='mr-4 mb-4'>
									<h4
										class='font-semibold mt-2 mb-2 text-2xl'
									>
										Frontend
									</h4>
									<p class='text-md text-gray-600'>
										Lorem ipsum dolor sit amet consectetur
										adipisicing elit. Ratione nam.
									</p>
								</div>
							</div>
							<div
								class='box w-full lg:w-[49%] mb-4 flex bg-lime-300 rounded-xl bg-opacity-30 p-2'
							>
								<div>
									<Icon
										pack='ph'
										name='code'
										class='w-12 ml-4 mr-6 text-lime-500'
									/>
								</div>
								<div class='mr-4 mb-4'>
									<h4
										class='font-semibold mt-2 mb-2 text-2xl'
									>
										Backend
									</h4>
									<p class='text-md text-gray-600'>
										Lorem ipsum dolor sit amet consectetur
										adipisicing elit. Ratione nam.
									</p>
								</div>
							</div>
							<div
								class='box w-full lg:w-[49%] mb-4 flex bg-red-300 rounded-xl bg-opacity-30 p-2'
							>
								<div>
									<Icon
										pack='ph'
										name='code'
										class='w-12 ml-4 mr-6 text-red-500'
									/>
								</div>
								<div class='mr-4 mb-4'>
									<h4
										class='font-semibold mt-2 mb-2 text-2xl'
									>
										Frontend
									</h4>
									<p class='text-md text-gray-600'>
										Lorem ipsum dolor sit amet consectetur
										adipisicing elit. Ratione nam.
									</p>
								</div>
							</div>
							<div
								class='box w-full lg:w-[49%] mb-4 flex bg-lime-300 rounded-xl bg-opacity-30 p-2'
							>
								<div>
									<Icon
										pack='ph'
										name='code'
										class='w-12 ml-4 mr-6 text-lime-500'
									/>
								</div>
								<div class='mr-4 mb-4'>
									<h4
										class='font-semibold mt-2 mb-2 text-2xl'
									>
										Backend
									</h4>
									<p class='text-md text-gray-600'>
										Lorem ipsum dolor sit amet consectetur
										adipisicing elit. Ratione nam.
									</p>
								</div>
							</div>
							<div
							class='box w-full lg:w-[49%] mb-4 flex bg-lime-300 rounded-xl bg-opacity-30 p-2'
						>
							<div>
								<Icon
									pack='ph'
									name='code'
									class='w-12 ml-4 mr-6 text-lime-500'
								/>
							</div>
							<div class='mr-4 mb-4'>
								<h4
									class='font-semibold mt-2 mb-2 text-2xl'
								>
									Backend
								</h4>
								<p class='text-md text-gray-600'>
									Lorem ipsum dolor sit amet consectetur
									adipisicing elit. Ratione nam.
								</p>
							</div>
						</div>
						<div
						class='box w-full lg:w-[49%] mb-4 flex bg-lime-300 rounded-xl bg-opacity-30 p-2'
					>
						<div>
							<Icon
								pack='ph'
								name='code'
								class='w-12 ml-4 mr-6 text-lime-500'
							/>
						</div>
						<div class='mr-4 mb-4'>
							<h4
								class='font-semibold mt-2 mb-2 text-2xl'
							>
								Backend
							</h4>
							<p class='text-md text-gray-600'>
								Lorem ipsum dolor sit amet consectetur
								adipisicing elit. Ratione nam.
							</p>
						</div>
					</div>
						</div>
					</div>
					<hr class='mt-1' />
				</div>
			</div>
		</div>
	</main>
</Layout>
