---
import About from '../components/About.astro';
import Navigation from '../components/Navigation.astro';
import Presentation from '../components/Presentation.astro';
import Resume from '../components/Resume.astro';
import Layout from '../layouts/Layout.astro';

import { Tabs } from 'astro-tabs';
---

<Layout title='Portfolio'>
  <main
    class='p-0 max-h-full flex justify-start w-full flex-col lg:flex-row gap-10'
  >
    <Presentation />
    <section
      class='content-card flex m-auto lg:ml-auto lg:mr-0 flex-col mt-0 lg:w-[70%] w-11/12 h-full'
    >
      <Navigation />
      <section id='content'>
        <About />
        <Resume />
      </section>
    </section>
  </main>
</Layout>
