---
import Icon from 'astro-icon';
---

<ul
  class='hidden lg:flex 2xl:w-7/8 ml-auto shadow-lg rounded-xl mb-4 bg-white h-2/5 p-3'
>
  <li role='presentation'>
    <button
      id='about-tab'
      role='tab'
      type='button'
      class='rounded-md flex flex-col border text-slate-600 p-4 w-24 text-center mr-2'
    >
      <Icon pack='ph' name='user-circle-thin' class='w-8 m-auto' />
      <p class='m-auto'>About</p>
    </button>
  </li>
  <li role='presentation'>
    <button
      id='works-tab'
      role='tab'
      type='button'
      class='rounded-md flex flex-col border text-slate-600 p-4 w-24 text-center mr-2'
    >
      <Icon pack='ph' name='book-thin' class='w-8 m-auto' />
      <p class='m-auto'>Resume</p>
    </button>
  </li>
  <li role='presentation'>
    <button
      id='projects-tab'
      role='tab'
      type='button'
      class='rounded-md flex flex-col border text-slate-600 p-4 w-24 text-center'
    >
      <Icon pack='ph' name='bag-simple-thin' class='w-8 m-auto' />
      <p class='ml-auto mr-auto'>Projects</p>
    </button>
  </li>
</ul>

<script>
  import { Tabs } from 'flowbite';
  import type { TabsOptions, TabsInterface, TabItem } from 'flowbite';

  // create an array of objects with the id, trigger element (eg. button), and the content element
  const tabElements: TabItem[] = [
    {
      id: 'about',
      triggerEl: document.querySelector('#about-tab')!,
      targetEl: document.querySelector('#about')!,
    },
    {
      id: 'works',
      triggerEl: document.querySelector('#works-tab')!,
      targetEl: document.querySelector('#works')!,
    },
    {
      id: 'projects',
      triggerEl: document.querySelector('#projects-tab')!,
      targetEl: document.querySelector('#projects')!,
    },
  ];

  // options with default values
  const options: TabsOptions = {
    defaultTabId: 'about',
    activeClasses:
      'bg-sky-400 text-white hover:bg-gradient-to-r hover:from-sky-300 hover:to-sky-500 hover:text-white',
    inactiveClasses:
      'hover:bg-gradient-to-r from-sky-300 to-sky-500 hover:text-white',
    onShow: () => {
      console.log('tab is shown');
    },
  };

  /*
   * tabElements: array of tab objects
   * options: optional
   */
  const tabs: TabsInterface = new Tabs(tabElements, options);
</script>
