---
import Icon from 'astro-icon';
---

<ul
  class='flex w-full h-28 lg:w-1/3 xl:w-1/3 2xl:w-7/8 justify-around ml-auto shadow-lg rounded-xl mb-4 bg-white md:h-2/5 p-3 gap-2'
>
  <li role='presentation' class='flex-grow'>
    <button
      id='about-tab'
      role='tab'
      type='button'
      class='rounded-md nav-button flex flex-col text-slate-600 p-2 text-center mr-2 w-full h-full'
    >
      <Icon pack='ph' name='user-circle-thin' class='w-8 m-auto' />
      <p class='m-auto'>About</p>
    </button>
  </li>
  <li role='presentation' class='flex-grow'>
    <button
      id='resume-tab'
      role='tab'
      type='button'
      class='rounded-md nav-button flex flex-col text-slate-600 p-2 text-center mr-2 w-full h-full'
    >
      <Icon pack='ph' name='book-thin' class='w-8 m-auto' />
      <p class='m-auto'>Resume</p>
    </button>
  </li>
  <li role='presentation' class='flex-grow'>
    <button
      id='projects-tab'
      role='tab'
      type='button'
      class='rounded-md nav-button flex flex-col text-slate-600 p-2 text-center w-full h-full'
    >
      <Icon pack='ph' name='bag-simple-thin' class='w-8 m-auto' />
      <p class='m-auto'>Projects</p>
    </button>
  </li>
</ul>

<script>
  import { Tabs } from 'flowbite';
  import type { TabsOptions, TabItem } from 'flowbite';
  const navButtons = document.querySelectorAll('.nav-button');
  const isMobile = window.matchMedia('(max-width: 768px)').matches;
  if (isMobile) {
    navButtons.forEach((element) =>
    element.addEventListener(
      'click',
      () => window.scrollTo({ top: 600, behavior: 'smooth' })
    )
  );
  }
  const tabElements: TabItem[] = [
    {
      id: 'about',
      triggerEl: document.querySelector('#about-tab')!,
      targetEl: document.querySelector('#about')!,
    },
    {
      id: 'resume',
      triggerEl: document.querySelector('#resume-tab')!,
      targetEl: document.querySelector('#resume')!,
    },
    {
      id: 'projects',
      triggerEl: document.querySelector('#projects-tab')!,
      targetEl: document.querySelector('#projects')!,
    },
  ];

  // options with default values
  const options: TabsOptions = {
    defaultTabId: 'about',
    activeClasses:
      'bg-sky-400 text-white hover:bg-gradient-to-r hover:from-sky-300 hover:to-sky-500 hover:text-white',
    inactiveClasses:
      'hover:bg-gradient-to-r from-sky-300 to-sky-500 hover:text-white',
  };

  new Tabs(tabElements, options);
</script>
