---
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <svg xmlns='http://www.w3.org/2000/svg' class="absolute" viewBox='0 0 1440 320'
      ><path
        fill='#0099ff'
        fill-opacity='0.78'
        d='M0,96L24,117.3C48,139,96,181,144,186.7C192,192,240,160,288,154.7C336,149,384,171,432,197.3C480,224,528,256,576,272C624,288,672,288,720,266.7C768,245,816,203,864,186.7C912,171,960,181,1008,192C1056,203,1104,213,1152,192C1200,171,1248,117,1296,90.7C1344,64,1392,64,1416,64L1440,64L1440,0L1416,0C1392,0,1344,0,1296,0C1248,0,1200,0,1152,0C1104,0,1056,0,1008,0C960,0,912,0,864,0C816,0,768,0,720,0C672,0,624,0,576,0C528,0,480,0,432,0C384,0,336,0,288,0C240,0,192,0,144,0C96,0,48,0,24,0L0,0Z'
      ></path></svg
    >
    <slot />
    <script src='../../node_modules/flowbite/dist/flowbite.min.js'></script>
  </body>
</html>
<style is:global>
  @import url('https://fonts.cdnfonts.com/css/poppins');
</style>
