---
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <svg
      viewBox='0 0 900 600'
      width='900'
      height='600'
      xmlns='http://www.w3.org/2000/svg'
      xmlns:xlink='http://www.w3.org/1999/xlink'
      class='absolute top-0 rotate-180 w-full h-max [&>path]:fill-sky-400'
      version='1.1'
      ><path
        d='M0 493L21.5 487.8C43 482.7 86 472.3 128.8 461.5C171.7 450.7 214.3 439.3 257.2 442.5C300 445.7 343 463.3 385.8 481C428.7 498.7 471.3 516.3 514.2 517.7C557 519 600 504 642.8 495.7C685.7 487.3 728.3 485.7 771.2 492.2C814 498.7 857 513.3 878.5 520.7L900 528L900 601L878.5 601C857 601 814 601 771.2 601C728.3 601 685.7 601 642.8 601C600 601 557 601 514.2 601C471.3 601 428.7 601 385.8 601C343 601 300 601 257.2 601C214.3 601 171.7 601 128.8 601C86 601 43 601 21.5 601L0 601Z'
        fill='currentColor'
        stroke-linecap='round'
        stroke-linejoin='miter'></path></svg
    >
    <slot />
    <script src='../../node_modules/flowbite/dist/flowbite.min.js'></script>
  </body>
</html>
<style is:global>
  @import url('https://fonts.cdnfonts.com/css/poppins');
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
    height: 100%;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
